<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cr4wler - Network Live Hosts Analyzer, discovering and visualizing network hosts.">
    <meta name="author" content="Tal.M">
    <meta name="keywords" content="crawler, internet bots, network discovery, visualization">
    <title>Cr4wler - Network Live Hosts Analyzer</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Cr4wler Logo" class="logo">
        </div>
        <label for="searchBar">Search:</label>
        <input type="text" id="searchBar" placeholder="e.g., port:80,22 service:HTTP,SSH Country:IL">

        <div class="button-container">
            <button onclick="fetchHosts()">Fetch Hosts</button>
        </div>

        <div id="output"></div>
        <div id="pagination" class="pagination"></div>
        <div id="notification" class="notification"></div>
        <div id="map"></div>
        <div id="chart-container">
            <canvas id="statsChart"></canvas>
        </div>
    </div>
</body>

</html>